@page "/player/{PlayerId}"
@using Swoq.Server.Data
@inject ISwoqDatabase Database
@inject ILogger<Home> Logger

<PageTitle>Home</PageTitle>

<h1>Hi @Player?.Name</h1>

@if (Welcome)
{
	<div class="alert alert-success" role="alert">
		Welcome. Your player ID is: <b>@PlayerId</b>
	</div>
}

<p>Current level: @Player?.Level (reached in @Player?.QuestLengthTicks ticks)</p>

<ProtoFile />

@code {
	[Parameter]
	public string PlayerId { get; set; } = string.Empty;

	[SupplyParameterFromQuery]
	public bool Welcome { get; set; } = false;

	public Swoq.Server.Data.Player? Player { get; set; } = null;

	protected override async Task OnParametersSetAsync()
	{
		if (!String.IsNullOrEmpty(PlayerId))
		{
			try
			{
				Player = await Database.FindPlayerByIdAsync(PlayerId);
			}
			catch
			{
				Player = null;
			}
		}

		await base.OnParametersSetAsync();
	}
}