@page "/register/"
@using Swoq.Server.Data
@inject ILogger<Register> Logger
@inject NavigationManager NavigationManager
@inject ISwoqDatabase Database

<PageTitle>Player registration</PageTitle>

<h1>Sioux Weekend of Quest</h1>

<p>Register a new player.</p>

<form method="post" @onsubmit="Submit" @formname="register-plain-form">
	<AntiforgeryToken />
	<div>
		<label>
			Player name:
			<InputText @bind-Value="PlayerName" />
		</label>
	</div>
	<div>
		<button type="submit">Submit</button>
	</div>
</form>

<p>@ErrorMessage</p>

@code {
	[SupplyParameterFromForm]
	public string PlayerName { get; set; } = string.Empty;

	public string ErrorMessage { get; set; } = string.Empty;

	private void Submit()
	{
		var player = new Player() { Name = PlayerName };
		try
		{
			Database.CreatePlayer(player);
			var playerId = player.Id;
			NavigationManager.NavigateTo($"/player/{playerId}?welcome=true", forceLoad: true);
		}
		catch (Exception ex) when (ex is not NavigationException)
		{
			ErrorMessage = $"Exception: {ex}";
		}
	}
}