**/__pycache__/
**/generated/
**/*_pb2*.py
**/*_pb2*.pyi
**/*.pth
**/obj/
**/bin/
**/.vs/
**/*.user
examples/
**/*.pem
level*.bin
**/Properties/launchSettings.json
**/BenchmarkDotNet.Artifacts/
coveragereport/
Test/TestResults/
