**/__pycache__/
**/generated/
**/*_pb2*.py
**/*_pb2*.pyi
**/*.pth
**/obj/
**/bin/
**/.vs/
**/*.user
**/BenchmarkDotNet.Artifacts/
coveragereport/
Test/TestResults/
**/Replays/
**/.avalonia-build-tasks/
**/env.json 
