@page "/user/{UserId}"
@using Swoq.Server.Data
@inject ISwoqDatabase Database
@inject ILogger<Home> Logger

<PageTitle>Home</PageTitle>

<h1>Hi @User?.Name</h1>

@if (Welcome)
{
	<div class="alert alert-success" role="alert">
		Welcome. Your user ID is: <b>@UserId</b>
	</div>
}

<p>Current level: @User?.Level (reached in @User?.QuestLengthTicks ticks)</p>

<ProtoFile Level="User?.Level ?? 0" />

@code {
	[Parameter]
	public string UserId { get; set; } = string.Empty;

	[SupplyParameterFromQuery]
	public bool Welcome { get; set; } = false;

	public Swoq.Server.Data.User? User { get; set; } = null;

	protected override async Task OnParametersSetAsync()
	{
		if (!String.IsNullOrEmpty(UserId))
		{
			try
			{
				User = await Database.FindUserByIdAsync(UserId);
			}
			catch
			{
				User = null;
			}
		}

		await base.OnParametersSetAsync();
	}
}