@page "/login/"

@using Swoq.Data

@inject NavigationManager NavigationManager

<PageTitle>SWOQ - Login</PageTitle>

<h1>Login</h1>

<p>Please sign in with your user ID and user name.</p>

<p>If you do not have a user ID yet, then <NavLink href="register">register here</NavLink> first.</p>

<form method="post" @onsubmit="Submit" @formname="signin-plain-form">
    <AntiforgeryToken />
    <div>
        <label>
            User ID:
            <InputText @bind-Value="LoginUserId" />
        </label>
    </div>
    <div>
        <label>
            User Name:
            <InputText @bind-Value="LoginUserName" />
        </label>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>


@code {
    [SupplyParameterFromForm]
    public string LoginUserId { get; set; } = string.Empty;

    [SupplyParameterFromForm]
    public string LoginUserName { get; set; } = string.Empty;

    [CascadingParameter]
    private CurrentUserProvider? CurrentUserProvider { get; set; }

    private async void Submit()
    {
        if (CurrentUserProvider != null)
        {
            await CurrentUserProvider.SetUserAsync(LoginUserId, LoginUserName);
            NavigationManager.NavigateTo($"/user/", forceLoad: true);
        }
    }
}
