@page "/logout/"

@using Swoq.Data

@inject NavigationManager NavigationManager

<PageTitle>SWOQ - Logout</PageTitle>

<h1>Logout</h1>

<p>You are now logged out.</p>

@code {
	[CascadingParameter]
	private CurrentUserProvider? CurrentUserProvider { get; set; }

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			if (CurrentUserProvider != null)
			{
				await CurrentUserProvider.RemoveUserAsync();
				NavigationManager.NavigateTo($"/", forceLoad: true);
			}
		}
	}
}
