@page "/register/"
@using Swoq.Data
@inject ILogger<Register> Logger
@inject NavigationManager NavigationManager
@inject ISwoqDatabase Database

<PageTitle>Registration</PageTitle>

<h1>Registration</h1>

<p>Register a new user.</p>

<form method="post" @onsubmit="Submit" @formname="register-plain-form">
	<AntiforgeryToken />
	<div>
		<label>
			User name:
			<InputText @bind-Value="UserName" />
		</label>
	</div>
	<div>
		<button type="submit">Submit</button>
	</div>
</form>

<p>@ErrorMessage</p>

@code {
	[SupplyParameterFromForm]
	public string UserName { get; set; } = string.Empty;

	public string ErrorMessage { get; set; } = string.Empty;

	private void Submit()
	{
		var user = new Swoq.Data.User() { Name = UserName };
		try
		{
			Database.CreateUser(user);
			var userId = user.Id;
			NavigationManager.NavigateTo($"/user/{userId}?welcome=true", forceLoad: true);
		}
		catch (Exception ex) when (ex is not NavigationException)
		{
			ErrorMessage = $"Exception: {ex}";
		}
	}
}