@page "/"

<PageTitle>Sioux Weekend of Quest</PageTitle>

<h1>Sioux Weekend of Quest</h1>

<HighScores />

<h2>1. Registration</h2>

<p>Before you can start playing you have to register your user name.</p>

<p><NavLink href="register">register here</NavLink></p>

<h2>2. Go to user page</h2>

After registration you can visit your page here:

<h3>3. Download proto file</h3>



@code {
}