@page "/"
@inject ILogger<Start> Logger
@inject NavigationManager NavigationManager

<PageTitle>Start</PageTitle>

<h1>Sioux Weekend of Quest</h1>

<HighScores />


<h2>Registration</h2>

Please sign in with your user ID.

If you do not have a user ID yet, then <NavLink href="register">register here</NavLink> first.

<form method="post" @onsubmit="Submit" @formname="signin-plain-form">
    <AntiforgeryToken />
    <div>
        <label>
            User ID:
            <InputText @bind-Value="UserId" />
        </label>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>

@code {
    [SupplyParameterFromForm]
    public string UserId { get; set; } = string.Empty;

    private void Submit()
    {
        NavigationManager.NavigateTo($"/user/{UserId}");
    }
}