@page "/user/"

@using Swoq.Data

@if (CurrentUserProvider?.User == null)
{
	<PageTitle>SWOQ - User</PageTitle>

	<h1>No access!</h1>

	<p>This page is only accessible for logged in users. Please <a href="login">login</a> first.</p>
}
else
{
	<PageTitle>SWOQ - User - @CurrentUserProvider?.Name</PageTitle>

	<h1>Hi @CurrentUserProvider?.Name</h1>

	@if (Welcome)
	{
		<div class="alert alert-success" role="alert">
			Welcome. You are now a registered user with unique user ID: <b>@CurrentUserProvider?.Id</b>.
			Remember this ID, it won't be provided again, and you will need it to play a game.
		</div>
	}

	<p>This is your personal page where you can find more information about your progress. You are currently at:</p>
	<div class="alert alert-info text-center">
		<span class="h3">Level 6</span>
	</div>
	<p>Which you reached in <strong>@CurrentUserProvider?.User.QuestLengthTicks ticks</strong> and @CurrentUserProvider?.User.QuestLengthSeconds seconds</p>
}

@code {
	[SupplyParameterFromQuery]
	public bool Welcome { get; set; } = false;

	[CascadingParameter]
	private CurrentUserProvider? CurrentUserProvider { get; set; }
}
