@page "/user/"

@using Swoq.Data

@inject IJSRuntime JSRuntime

@if (CurrentUserProvider?.User == null)
{
	<PageTitle>SWOQ - User</PageTitle>

	<h1>User</h1>

	<p>This page is only accessable for logged in users. Please <a href="login">login</a> first.</p>
}
else
{
	<PageTitle>SWOQ - User - @CurrentUserProvider?.Name</PageTitle>

	<h1>Hi @CurrentUserProvider?.Name</h1>

	@if (Welcome)
	{
		<div class="alert alert-success" role="alert">
			Welcome. You are now a registered user with unique user ID: <b>@CurrentUserProvider?.Id</b>.
			Remember this ID, it won't be provided again, and you will need it to play a game.
		</div>
	}

	<p>Current level: @CurrentUserProvider?.Level (reached in @CurrentUserProvider?.User.QuestLengthTicks ticks)</p>

	<ProtoFile Level="@(CurrentUserProvider?.Level ?? 0)" />
}

@code {
	[SupplyParameterFromQuery]
	public bool Welcome { get; set; } = false;

	[CascadingParameter]
	private CurrentUserProvider? CurrentUserProvider { get; set; }

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		// Make sure syntax highlighting is updated after every render
		await JSRuntime.InvokeVoidAsync("hljs.highlightAll");
	}
}
